@font-face {
	font-family: 'Icons';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		url(../../fonts/Icons/icons.woff2) format('woff2'),
		url(../../fonts/Icons/icons.ttf) format('truetype')
}

.inline-icon,
.icon::before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: 'Icons';
	font-weight: 400;
}

.inline-icon {
	line-height: inherit;
}


.icon.search:before { content: '\e800'; } /* '' */
.icon.mail:before { content: '\e801'; } /* '' */
.icon.heart:before { content: '\e802'; } /* '' */
.icon.heart-empty:before { content: '\e803'; } /* '' */
.icon.home:before { content: '\e804'; } /* '' */
.icon.link:before { content: '\e805'; } /* '' */
.icon.phone:before { content: '\e806'; } /* '' */
.icon.down-big:before { content: '\e807'; } /* '' */
.icon.left-big:before { content: '\e808'; } /* '' */
.icon.right-big:before { content: '\e809'; } /* '' */
.icon.up-big:before { content: '\e80a'; } /* '' */
.icon.cog:before { content: '\e80b'; } /* '' */
.icon.comment:before { content: '\e80c'; } /* '' */
.icon.down-open:before { content: '\e80d'; } /* '' */
.icon.left-open:before { content: '\e80e'; } /* '' */
.icon.right-open:before { content: '\e80f'; } /* '' */
.icon.up-open:before { content: '\e810'; } /* '' */
.icon.user:before { content: '\e811'; } /* '' */
.icon.cancel:before { content: '\e812'; } /* '' */
.icon.ok:before { content: '\e813'; } /* '' */
.icon.eye-off:before { content: '\e814'; } /* '' */
.icon.eye:before { content: '\e815'; } /* '' */
.icon.link-ext:before { content: '\f08e'; } /* '' */
.icon.twitter:before { content: '\f099'; } /* '' */
.icon.docs:before { content: '\f0c5'; } /* '' */
.icon.menu:before { content: '\f0c9'; } /* '' */
.icon.list-numbered:before { content: '\f0cb'; } /* '' */
.icon.mail-alt:before { content: '\f0e0'; } /* '' */
.icon.comment-empty:before { content: '\f0e5'; } /* '' */
.icon.quote-left:before { content: '\f10d'; } /* '' */
.icon.quote-right:before { content: '\f10e'; } /* '' */
.icon.github:before { content: '\f113'; } /* '' */
.icon.unlink:before { content: '\f127'; } /* '' */
.icon.ellipsis:before { content: '\f141'; } /* '' */
.icon.ellipsis-vert:before { content: '\f142'; } /* '' */
.icon.expand:before { content: '\f150'; } /* '' */
.icon.collapse:before { content: '\f151'; } /* '' */
.icon.expand-right:before { content: '\f152'; } /* '' */
.icon.bug:before { content: '\f188'; } /* '' */
.icon.collapse-left:before { content: '\f191'; } /* '' */
.icon.paper-plane:before { content: '\f1d8'; } /* '' */
.icon.paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon.sliders:before { content: '\f1de'; } /* '' */
.icon.toggle-off:before { content: '\f204'; } /* '' */
.icon.toggle-on:before { content: '\f205'; } /* '' */
.icon.user-agent:before { content: '\f21b'; } /* '' */
.icon.facebook-squared:before { content: '\f308'; } /* '' */
