pre[class*="language-"] {
	z-index: 0;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	word-break: break-word;
	font-size: 0.75em;
	contain: content;
}

pre[class*="language-"],
code[class*="language-"] {
	font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

pre[class*="language-"] > code[class*="language-"] {
	white-space: pre-wrap;
	word-break: break-all;
}

@supports (font-variation-settings: normal) {
	pre[class*="language-"],
	code[class*="language-"] {
		/*
		 * ss01 - sans-serif 'r'
		 * ss02 - horisontal bar, e.g. >= and <=
		 * ss03 - traditional &
		 * ss04 - lightweight dollar
		 * ss05 - traditional @
		 * ss06 - regexp matching (=~ and != replaced by single glyph)
		 * zero - dot inside 0 instead of cross
		 * onum - old style digits
		 */ 
		font-feature-settings: "ss05";

	}
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
	bottom: 0.75em;
}

code[class*="language-"] {
	font-size: inherit;
}

div.code-toolbar > .toolbar {
	z-index: 1;
}

/* Lines (line numbering and active line numbers) */
.line-numbers pre[class*="language-"],
pre[class*="language-"].line-numbers {
	counter-reset: linenumber;
	counter-reset: linenumber var(--counter-start,0);
	padding-left: 0;
}

pre[class*="language-"] > code {
	white-space: inherit;
}

.line-numbers pre[class*="language-"] > code,
pre[class*="language-"].line-numbers > code {
	padding-left: 3.8em;
}

.line-numbers pre[class*="language-"] div.line > a::before,
pre[class*="language-"].line-numbers div.line > a::before {
	content: counter(linenumber);
	box-sizing: border-box;
	counter-increment: linenumber;
	color: #999;
	text-indent: 0;
	text-align: right;
	left: -3.8em;
	display: block;
	position: absolute;
	width: 3em;
	height: 100%;
	padding-right: .8em;
	border-right: solid #999;
	cursor: default;
	pointer-events: none;
}

.line-numbers pre[class*="language-"][id] div.line > a::before,
pre[class*="language-"][id].line-numbers div.line > a::before {
	cursor: pointer;
	pointer-events: auto;
}

.line-numbers pre[class*="language-"][id] div.line > a:hover::before,
pre[class*="language-"][id].line-numbers div.line > a:hover::before {
	color: black;
	background: rgba(0,0,0,.1);
}
